# Please input `pip install -r requirements.txt` to your command line.
# Version of Python: 3.12
scipy==1.13.1
numpy==2.2.6
matplotlib==3.10.5
tblite==0.4.0
torch==2.6.0
pyscf==2.9.0
#ase==3.26.0 
#fairchem-core==2.7.1
